keys/client*
keys/credentials
keys/betfair_app_token

.bundle
vendor/bundle

test.rb
api.log*
logs/*.log*
*.err
*.un~

etl/betscrape_etl.egg-info
etl/output
etl/gcp/service_account.json
etl/data/*.log
*.pyc
